body{
        background-color: rgb(99, 61, 88);
    }

div {
        background-color: rgb(172, 71, 133);
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: bold;
        font-size: 20px;
       
    }
        


.navbar-nav li a {color: #000000;}

.navbar-brand {color: rgb(252, 252, 252);}

.row {text-align: center;
        padding-right: auto;
        padding-left: auto;
}