
/*Body Page Background*/

.background-cover-vote {
    background-image:  url("./imagenes/superman-dc-comic-art-bb.jpg");
}

.background-cover { 
    background-image:  url("./imagenes/Ws.53.jpeg");
    /*background-size: cover;*/
}

 /*NavBar buttons: catalogo,votacion, Dropdown(Universos)*/
.navbar {
    background-color: #d4d1d1;
    font-family: ComicTitles;
}

/*Imagen de Versus de la pagina votacion*/

.versus img {
    z-index: 10 !important;
    position: absolute;
    top: 216px;
    height: 350px;
    width: 289px;
    pointer-events: none;
    text-align: center;
    left: 503px;
}

/*barra de votacion*/
.title-vote h4{
    z-index: 5;
    text-align: center;
    margin-top: 16px;
    text-shadow:1px 1px #eeff03;
    color:rgb(109, 106, 106);
    font-family: ComicTitles;
   
}

.boxVS p{
    font-family: ComicDescription;
    font-size: x-large;
    text-align: center;
    text-shadow:2px 2px #181817;
    color:rgb(233, 236, 37);
    margin:-10px;
}

.thumbnail {
    margin-bottom: 10px;
}

.thumbnail:hover{
    z-index: 22;
}
#comic {
    text-decoration: none;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color:white;
}

.move progress {
    
    overflow: hidden;
    background-color: whitesmoke;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}

.progress{
    height: 25px;
}

/*FUENTES*/

@font-face{
    font-family: comicStyle;
    src: url(./TipoGrafias/SFComicScriptShaded.ttf);
}

@font-face{
    font-family: ComicTitles;
    src: url(./TipoGrafias/SFComicScript.ttf);
}

@font-face{
    font-family: ComicDescription;
    src: url(./TipoGrafias/SFWonderComicBoldItalic.ttf); */
}

/*Pagina de Inicio Imagen*/

.winner-container{
   text-align: center;
}

.winner{
    margin-right: auto;
    margin-left: auto;
    margin-top: 120px;
}

/* barra de navegacion botones (catalogo, votacion, universos)*/
.navbar .collapse.navbar-collapse{
    text-shadow:1px 1px #eeff03;
    font-family: ComicTitles;
}

a.nav-link{
    color:rgb(109, 106, 106);
}

/*COMIC STOP TITLE*/
a.navbar-brand{
    font-family: comicStyle;
    font-size: 130%;
    text-shadow:0.5px 0.5px #cc0000;
    font-weight: bold;
}

/* imagenes centrales de la pag de votacion*/
.imagen-size-vote{
    max-width: 400px;
    max-height: 600px;
}

.button-size{
    margin-top: 10%;
}

/*Titulo de pagina de inicio*/
.title-winner{
    text-shadow:1px 1px #fa0000;
    color:rgb(250, 255, 46);
    font-family: ComicTitles;
    font-size: 8em;
    text-align: center;
    z-index: 15px;
    position: absolute;
    right: auto;
    left: auto;
    width: 100%;
}

