
/*Body Page Background*/

html body {
        background-color: #633d58;
}

/*NavBar*/


 /* NavBar buttons: Top ten, News, Dropdown(Universos)*/ 
.navbar .container-fluid {
    background-color: #ac4785;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
    color:white;
}

.navbar .container-fluid .collapse .nav  .active  a  {
        color: #000;
}
.navbar .container-fluid .collapse .nav a {
        color: #000;
}

/*title comicStop*/

.navbar .container-fluid .navbar-header .navbar-brand {
    color: #fff;
}

/*Container de imagenes de la seccion izquierda de recomendados*/
.container .row .media .media-body .media-heading {
    background-color: #000 !important;
}

/*barra vertical*/
.container  .box {
    border: 6px solid grey;
    background-color: black;
    color: white;
    padding: 5%;
    margin-bottom: 5%;
}

/*float*/

.pepe a.panel-heading img {
    z-index: 10;
    position: absolute;
    margin-left: 286px;
    background-color: none;
    height: 350px;
    width: 289px;
    top: 64px;
}

.button {
    hover:auto;
   
}